<ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-dark tabs-icon-only" ng-controller="cameraCtrl">
  <ion-tab title="Settings1" href="#/tabs/home" icon-on="ion-home" icon-off="ion-home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Home" icon-on="ion-search" icon-off="ion-search" href="#/tabs/search">
    <ion-nav-view name="search-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Camera" icon-on="ion-camera" icon-off="ion-camera" href="#/tabs/camera">
    <ion-nav-view name="camera-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Activity" icon-on="ion-ios-heart" icon-off="ion-ios-heart" href="#/tabs/activity">
    <ion-nav-view name="activity-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Profile" icon-on="ion-person" icon-off="ion-person" href="#/tabs/profile">
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
